body {
  width: 100vw;
  height: 100%;
  background-color: #181820;
  color: white;
}
.btn {
  border: 0;
  background-color: royalblue;
  border-radius: 2px;
  color: white;
  padding: 4px 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.title {
  color: white;
}

.todoItem {
  position: relative;
  height: 30px;
  width: 300px;
  padding: 20px 10px;
  border-radius: 8px;
  background-color: #2e2e3d;
  display: flex;
  align-items: center;
  margin: 15px 0;
  transition: all 1s ease;
}

.todoItem:hover {
  transform: scale(1.1);
}

.enterBox {
  position: relative;
  height: 50px;
  width: 300px;
  padding: 20px 10px;
  border-radius: 8px;
  background-color: #181820;
  border: 2px solid #2e2e3d;
  display: flex;
  align-items: center;
  margin: 15px 0;
  transition: all 1s ease;
}

.enterBox:hover {
  border: 2px solid #52526d;
}

.enterBox input {
  color: white;
  background: #181820;
  border: none;
}

.todoItem .delete {
  position: absolute;
  right: 0;
}

.todoItem p {
  padding: 10px;
}

.todoItem input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.input {
  border-radius: 4px;
  width: 100%;
  padding-left: 10px;
  height: 28px;
  line-height: 28px;
}

.delete {
  border: 0;
  background-color: rgb(225, 65, 204);
  border-radius: 4px;
  color: white;
  padding: 4px 10px;
  cursor: pointer;
  margin-right: 10px;
}

.task-list {
  min-height: 40px;
}

@media (min-width: 376px) {
  .todoItem {
    width: 400px;
  }
  .enterBox {
    width: 400px;
  }
}

.notification {
  padding: 16px;
  color: gray;
}

.notifCard {
  width: 400px;
  height: 300px;
  border-radius: 16px;
  background-color: #52526d;
  color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1.5s ease;
}

.show {
  animation: show 1.5s forwards;
}
.hide {
  visibility: visible;
  opacity: 1;
  animation: hide 1.5s forwards;
}
@keyframes show {
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes hide {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
